bin/assets/
run/
bin/
build/
eclipse/
logs/
mods/
config/
saves/
.gradle/
.settings/
gradlew
gradlew.bat
server.properties 
gradle/
*.properties 
.gradle/
screenshots/
.metadata/
.settings/
.classpath
.project
gradlew
options.txt
usernamecache.json
crash-reports/
*.fdx
*.fnm
*.tis
.recommenders/
.gitattributes